{% extends 'navbar.html.twig' %}

{% block body %}
    {{ parent() }}
    <main>
        <div class="view parallax-title">
            <div class="mask">
                <div class="container flex-center text-center">
                    <div class="row mt-5">
                        <div class="col-md-12 wow fadeIn mb-3">
                            <img class="logo mb-5" src="{{ asset('images/content/logo.png') }}" alt="Logo de Stamina">
                            <h5 class="mb-3 mt-1 font-weight-bold wow fadeIn text-white animated slow delay-1s" data-wow-delay="0.4s">STAMINA, un RPG inspiré de faits réels tournés de manière parodique. Il saura vous faire ressentir la « joie » d’être un étudiant du CNAM. Stratégie et prudence seront de mises cependant, il ne faudra pas oublier de se détendre entre deux péripéties et découvrir les secrets ainsi que les anecdotes bien cachées dans les différents donjons.</h5>
                            <div class="m-5">
                                <div class="col">
                                    <a class="btn btn-light-blue btn-lg wow fadeIn animated bounceInLeft" href="https://play.google.com/store/apps?hl=fr" data-wow-delay="0.4s"><i class="fab fa-google-play"></i> Télécharger le jeu</a>
                                    <button class="btn btn-indigo btn-lg wow fadeIn animated bounceInRight" id="team-button" data-wow-delay="0.4s"><i class="fas fa-people-carry"></i></button>
                                    <button class="btn btn-indigo btn-lg wow fadeIn animated bounceInRight" id="news-button" data-wow-delay="0.4s"><i class="fas fa-newspaper"></i></button>
                                    <button class="btn btn-indigo btn-lg wow fadeIn animated bounceInRight" id="contact-button" data-wow-delay="0.4s"><i class="fas fa-comment-dots"></i></button>
                                </div>
                            </div>
                            <h5 class="mb-3 mt-1 wow fadeIn text-white animated slow delay-1s" data-wow-delay="0.4s">« Stamina, une expérience époustouflante. »  Kévin  22 ans.</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container" id="news">
            <div class="row my-5">
                <div class="row mx-auto col-md-12">
                    <div class="col-md-4 my-auto">
                        <h3 class="h1 font-weight-bold brown-text m-2"><strong>Actualités</strong></h3>
                    </div>
                    <div class="list-group col-md-8 mx-auto">
                        {% for new in news %}
                            <a href="{{ path('items', {'typeItems': 'news'}) }}" class="list-group-item list-group-item-action flex-column align-items-start">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-2 h5">{{ new.name }}</h5>
                                    <small>{{ new.date|date('d/m/Y') }}</small>
                                </div>
                                <p class="mb-2">{{ new.abstract }}</p>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="view parallax-content-1"></div>
        <div class="container">
            <div class="row">
                <div class="row col-md-12 mx-auto my-5">
                    <div class="col-lg-5">
                        <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4">
                            <img class="img-fluid" src="{{ asset('images/zones/' ~ random_zone.image) }}" alt="Image non chargée.">
                            <a href="{{ path('items', {'typeItems': 'zones'}) }}"><div class="mask rgba-white-slight"></div></a>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <h3 class="h1 font-weight-bold brown-text"><strong>{{ random_zone.name }}</strong></h3>
                        <p>{{ random_zone.description }}</p>
                        <div class="home-button">
                            <a class="btn btn-brown btn-lg wow fadeIn waves-effect waves-light" href="{{ path('items', {'typeItems': 'zones'}) }}">Plus de zones <i class="fas fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="view parallax-content-2"></div>
        <div class="container">
            <div class="row">
                <div class="row col-md-12 mx-auto my-5">
                    <div class="col-lg-5">
                        <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4">
                            <img class="img-fluid" src="{{ asset('images/monsters/' ~ random_monster.image) }}" alt="Image non chargée.">
                            <a href="{{ path('items', {'typeItems': 'bestiary'}) }}"><div class="mask rgba-white-slight"></div></a>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <h3 class="h1 font-weight-bold brown-text"><strong>{{ random_monster.name }}</strong></h3>
                        <p>{{ random_monster.description }}</p>
                        <div class="home-button">
                            <a class="btn btn-brown btn-lg wow fadeIn waves-effect waves-light" href="{{ path('items', {'typeItems': 'bestiary'}) }}">Bestiaire <i class="fas fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="view parallax-content-3"></div>
        <div class="container-fluid" id="team">
            <section>
                <h1 class="h3 h1-responsive text-center my-5 brown-text">Découvrez notre équipe</h1>
                <article class="mx-auto w-75 text-center">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 mb-5 mx-auto">
                            <div class="avatar mx-auto">
                                <img src="{{ asset('images/team/vanessa.jpg') }}" class="rounded-circle z-depth-1" alt="Sample avatar">
                            </div>
                            <h5 class="font-weight-bold mt-4 mb-3">Vanessa Asejo</h5>
                            <p class="text-uppercase brown-text"><strong>Design / graphismes</strong></p>
                            <p class="grey-text">Talentueuse, elle s’occupe du visuel d’une main de maître et est un élément majeur dans la bonne cohésion de l’équipe.</p>
                            <ul class="list-unstyled mb-0">
                                <a href="#" class="p-2 fa-lg fb-ic"><i class="fab fa-twitter blue-text"> </i></a>
                                <a href="#" class="p-2 fa-lg ins-ic"><i class="fab fa-linkedin blue-text"> </i></a>
                            </ul>
                        </div>
                        <div class="col-lg-3 col-md-6 mb-5 mx-auto">
                            <div class="avatar mx-auto">
                                <img src="{{ asset('images/team/tony.jpg') }}" class="rounded-circle z-depth-1" alt="Sample avatar">
                            </div>
                            <h5 class="font-weight-bold mt-4 mb-3">Tony Gentilini</h5>
                            <p class="text-uppercase brown-text"><strong>Narration</strong></p>
                            <p class="grey-text">Intelligent, charismatique, cultivé, il ne sert à rien de compter tous ses talents tellement il en possède.</p>
                            <ul class="list-unstyled mb-0">
                                <a href="#" class="p-2 fa-lg fb-ic"><i class="fab fa-twitter blue-text"> </i></a>
                                <a href="#" class="p-2 fa-lg ins-ic"><i class="fab fa-linkedin blue-text"> </i></a>
                            </ul>
                        </div>
                        <div class="col-lg-3 col-md-6 mb-5 mx-auto">
                            <div class="avatar mx-auto">
                                <img src="{{ asset('images/team/paul.jpg') }}" class="rounded-circle z-depth-1" alt="Sample avatar">
                            </div>
                            <h5 class="font-weight-bold mt-4 mb-3">Paul Michels</h5>
                            <p class="text-uppercase brown-text"><strong>Développeur Unity</strong></p>
                            <p class="grey-text">Homme de l’ombre, sur lui repose un grand pouvoir. Mais, il n’oublie pas que cela implique de grandes responsabilités.</p>
                            <ul class="list-unstyled mb-0">
                                <a href="#" class="p-2 fa-lg fb-ic"><i class="fab fa-twitter blue-text"> </i></a>
                                <a href="#" class="p-2 fa-lg ins-ic"><i class="fab fa-linkedin blue-text"> </i></a>
                            </ul>
                        </div>
                        <div class="col-lg-3 col-md-6 mb-5 mx-auto">
                            <div class="avatar mx-auto">
                                <img src="{{ asset('images/team/thomas.jpg') }}" class="rounded-circle z-depth-1" alt="Sample avatar">
                            </div>
                            <h5 class="font-weight-bold mt-4 mb-3">Thomas Laure</h5>
                            <p class="text-uppercase brown-text"><strong>Développeur web full stack</strong></p>
                            <p class="grey-text">Grincheux, il n’en reste pas moins efficace lorsqu’il s’agit de programmer avec Symfony. Evitez cependant de lui parler.</p>
                            <ul class="list-unstyled mb-0">
                                <a href="#" class="p-2 fa-lg fb-ic"><i class="fab fa-twitter blue-text"> </i></a>
                                <a href="#" class="p-2 fa-lg ins-ic"><i class="fab fa-linkedin blue-text"> </i></a>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-6 mb-5 mx-auto">
                            <div class="avatar mx-auto">
                                <img src="{{ asset('images/team/nicolas.jpg') }}" class="rounded-circle z-depth-1" alt="Sample avatar">
                            </div>
                            <h5 class="font-weight-bold mt-4 mb-3">Nicolas Andres</h5>
                            <p class="text-uppercase brown-text"><strong>Chef de projet / Son</strong></p>
                            <p class="grey-text">Boute-en-train apprécié de son équipe, il n’en reste pas moins un bon chef guidant les autres sur la voie de la réussite.</p>
                            <ul class="list-unstyled mb-0">
                                <a href="#" class="p-2 fa-lg fb-ic"><i class="fab fa-twitter blue-text"> </i></a>
                                <a href="#" class="p-2 fa-lg ins-ic"><i class="fab fa-linkedin blue-text"> </i></a>
                            </ul>
                        </div>
                    </div>
                </article>
            </section>
        </div>
        <div class="view parallax-content-4"></div>
        <div class="container-fluid mb-5" id="contact">
            <section>
                <h1 class="h3 h1-responsive text-center my-5 brown-text">Contactez-nous</h1>
                <article class="w-75 mx-auto">
                    {% for message in app.flashes('success') %}
                        <div class="alert alert-success text-center mx-auto">{{ message }}</div>
                    {% endfor %}
                    {% for message in app.flashes('danger') %}
                        <div class="alert alert-danger text-center mx-auto">{{ message }}</div>
                    {% endfor %}
                    <p class="text-center w-responsive mx-auto mb-5">Vous avez des questions ? N'hésitez pas à nous contacter directement. Notre équipe reviendra vers vous en quelques heures pour vous aider.</p>
                    <p class="text-center w-responsive mx-auto mb-5">Si un message ne s'affiche pas après avoir essayé de nous contacter, c'est qu'un problème est survenu lors de l'envoi du message.</p>
                    <article>
                    {{ form_start(form) }}
                        <div class="col-md-6 m-auto">
                            <div class="md-form mb-0">
                                {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                                {{ form_label(form.name, 'Votre nom') }}
                            </div>
                        </div>
                        <div class="col-md-6 m-auto">
                            <div class="md-form mb-0">
                                {{ form_widget(form.first_name, {'attr': {'class': 'form-control'}}) }}
                                {{ form_label(form.first_name, 'Votre prénom') }}
                            </div>
                        </div>
                        <div class="col-md-6 m-auto">
                            <div class="md-form mb-0">
                                {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                                {{ form_label(form.email, 'Votre email') }}
                            </div>
                        </div>
                        <div class="col-md-6 m-auto">
                            <div class="md-form mb-0">
                                {{ form_widget(form.subject, {'attr': {'class': 'form-control'}}) }}
                                {{ form_label(form.subject, 'Objet') }}
                            </div>
                        </div>
                        <div class="col-md-6 m-auto">
                            <div class="md-form">
                                {{ form_widget(form.message, {'attr': {'class': 'form-control md-textarea'}}) }}
                                {{ form_label(form.message, 'Votre message') }}
                            </div>
                        </div>
                        <div class="col-md-6 text-center m-auto">
                            <button type="submit" class="btn btn-primary">Envoyer <i class="fas fa-paper-plane"></i></button>
                        </div>
                    {{ form_end(form) }}
                </article>
            </section>
        </div>
    </main>
    {{ include('footer.html.twig') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/home.js') }}"></script>
{% endblock %}