{% extends 'navbar.html.twig' %}

{% block body %}
    {{ parent() }}
    <main>
        <div class="view parallax-title">
            <div class="mask rgba-black-light">
                <div class="container flex-center text-center">
                    <div class="row mt-5">
                        <div class="col-md-12 wow fadeIn mb-3">
                            <h1><img class="logo mb-5" src="{{ asset('images/content/logo.png') }}" alt="Logo de Stamina"></h1>
                            <h4 class="mb-3 mt-1 font-weight-bold wow fadeIn text-white animated slow delay-1s" data-wow-delay="0.4s">Un RPG inspiré de faits réels tournés de manière parodique. Il saura vous faire ressentir la « joie » d’être un étudiant du CNAM. Stratégie et prudence seront de mises cependant, il ne faudra pas oublier de se détendre entre deux péripéties et découvrir les secrets ainsi que les anecdotes bien cachées dans les différents donjons.</h4>
                            <div class="m-5 d-flex justify-content-center">
                                <div class="col">
                                    <div class="row mb-3">
                                        <div class="col">
                                            <a class="btn btn-light-blue btn-lg wow fadeIn animated bounceInLeft" href="https://play.google.com/store/apps?hl=fr" data-wow-delay="0.4s"><i class="fab fa-google-play"></i> Télécharger le jeu</a>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col">
                                            <button class="btn btn-indigo btn-lg wow fadeIn animated bounceInRight" id="team-button" data-wow-delay="0.4s"><i class="fas fa-people-carry"></i> L'équipe</button>
                                            <button class="btn btn-indigo btn-lg wow fadeIn animated bounceInRight" id="news-button" data-wow-delay="0.4s"><i class="fas fa-newspaper"></i> Actualités</button>
                                            <button class="btn btn-indigo btn-lg wow fadeIn animated bounceInRight" id="contact-button" data-wow-delay="0.4s"><i class="fas fa-comment-dots"></i> Contact</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h5 class="mb-3 mt-1 wow fadeIn text-white animated slow delay-1s text-monospace" data-wow-delay="0.4s">« Stamina, une expérience époustouflante. » Kévin 22 ans.</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container" id="news">
            <div class="row my-5">
                <div class="row mx-auto col-md-12">
                    <div class="col-md-4 my-auto">
                        <h3 class="h1 font-weight-bold brown-text m-2"><strong>Actualités</strong></h3>
                    </div>
                    <div class="list-group col-md-8 mx-auto">
                        {% for new in news %}
                            <a href="{{ path('items', {'typeItems': 'news'}) }}"
                                class="list-group-item list-group-item-action flex-column align-items-start">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-2 h5">{{ new.name }}</h5>
                                    <small>{{ new.date|date('d/m/Y') }}</small>
                                </div>
                                <p class="mb-2">{{ new.abstract }}</p>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="view parallax-content-1">
            <h2 class="h3 h1-responsive text-white title-item">Environnements</h2>
        </div>
        <div class="container">
            <div id="carousel-zones" class="carousel slide carousel-fade m-5" data-ride="carousel">
                <ol class="carousel-indicators">
                    {% for i in 0..zones|length - 1 %}
                        {% if loop.index == 1 %}
                            <li data-target="#carousel-zones" data-slide-to="{{ i }}" class="active"></li>
                        {% else %}
                            <li data-target="#carousel-zones" data-slide-to="{{ i }}"></li>
                        {% endif %}
                    {% endfor %}
                </ol>
                <div class="carousel-inner rounded" role="listbox">
                    {% for zone in zones %}
                        {% if loop.index == 1 %}
                            <div class="carousel-item active">
                                <div class="view">
                                    <img class="d-block w-100" src="{{ asset('images/zones/' ~ zone.image) }}"
                                        alt="Second slide">
                                    <div class="mask rgba-black-strong"></div>
                                </div>
                                <div class="carousel-caption">
                                    <h3 class="h3-responsive">{{ zone.name }}</h3>
                                    <p>{{ zone.description }}</p>
                                </div>
                            </div>
                        {% else %}
                            <div class="carousel-item">
                                <div class="view">
                                    <img class="d-block w-100" src="{{ asset('images/zones/' ~ zone.image) }}"
                                        alt="Second slide">
                                    <div class="mask rgba-black-strong"></div>
                                </div>
                                <div class="carousel-caption">
                                    <h3 class="h3-responsive">{{ zone.name }}</h3>
                                    <p>{{ zone.description }}</p>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <a class="carousel-control-prev" href="#carousel-zones" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carousel-zones" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <div class="view parallax-content-2">
            <h2 class="h3 h1-responsive text-white title-item">Créatures</h2>
        </div>
        <div class="container">
            <div id="carousel-monsters" class="carousel slide carousel-fade m-5" data-ride="carousel">
                <ol class="carousel-indicators">
                    {% for i in 0..monsters|length - 1 %}
                        {% if loop.index == 1 %}
                            <li data-target="#carousel-monsters" data-slide-to="{{ i }}" class="active"></li>
                        {% else %}
                            <li data-target="#carousel-monsters" data-slide-to="{{ i }}"></li>
                        {% endif %}
                    {% endfor %}
                </ol>
                <div class="carousel-inner rounded" role="listbox">
                    {% for monster in monsters %}
                        {% if loop.index == 1 %}
                            <div class="carousel-item active">
                                <div class="view">
                                    <img class="d-block w-100" src="{{ asset('images/monsters/' ~ monster.image) }}"
                                        alt="Second slide">
                                    <div class="mask rgba-black-strong"></div>
                                </div>
                                <div class="carousel-caption">
                                    <h3 class="h3-responsive">{{ monster.name }}</h3>
                                    <p>{{ monster.description }}</p>
                                </div>
                            </div>
                        {% else %}
                            <div class="carousel-item">
                                <div class="view">
                                    <img class="d-block w-100" src="{{ asset('images/monsters/' ~ monster.image) }}"
                                        alt="Second slide">
                                    <div class="mask rgba-black-strong"></div>
                                </div>
                                <div class="carousel-caption">
                                    <h3 class="h3-responsive">{{ monster.name }}</h3>
                                    <p>{{ monster.description }}</p>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <a class="carousel-control-prev" href="#carousel-monsters" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carousel-monsters" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <div class="view parallax-content-3">
            <h2 class="h3 h1-responsive text-white title-item">Découvrez notre équipe</h2>
        </div>
        <div class="container-fluid" id="team">
            <section class="mt-5">
                <article class="mx-auto w-75 text-center">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 mx-auto">
                            <div class="avatar mx-auto">
                                <img src="{{ asset('images/team/vanessa.jpg') }}" class="rounded-circle z-depth-1" alt="Sample avatar">
                            </div>
                            <h5 class="font-weight-bold mt-4 mb-3">Vanessa Asejo</h5>
                            <p class="text-uppercase brown-text"><strong>Design / graphismes</strong></p>
                            <p class="grey-text">Talentueuse, elle s’occupe du visuel d’une main de maître et est un élément majeur dans la bonne cohésion de l’équipe.</p>
                            <ul class="list-unstyled mb-0">
                                <a href="#" class="p-2 fa-lg fb-ic"><i class="fab fa-twitter blue-text"> </i></a>
                                <a href="#" class="p-2 fa-lg ins-ic"><i class="fab fa-linkedin blue-text"> </i></a>
                            </ul>
                        </div>
                        <div class="col-lg-3 col-md-6 mb-5 mx-auto">
                            <div class="avatar mx-auto">
                                <img src="{{ asset('images/team/tony.jpg') }}" class="rounded-circle z-depth-1" alt="Sample avatar">
                            </div>
                            <h5 class="font-weight-bold mt-4 mb-3">Tony Gentilini</h5>
                            <p class="text-uppercase brown-text"><strong>Narration</strong></p>
                            <p class="grey-text">Intelligent, charismatique, cultivé, il ne sert à rien de compter tous ses talents tellement il en possède.</p>
                            <ul class="list-unstyled mb-0">
                                <a href="#" class="p-2 fa-lg fb-ic"><i class="fab fa-twitter blue-text"> </i></a>
                                <a href="#" class="p-2 fa-lg ins-ic"><i class="fab fa-linkedin blue-text"> </i></a>
                            </ul>
                        </div>
                        <div class="col-lg-3 col-md-6 mb-5 mx-auto">
                            <div class="avatar mx-auto">
                                <img src="{{ asset('images/team/paul.jpg') }}" class="rounded-circle z-depth-1" alt="Sample avatar">
                            </div>
                            <h5 class="font-weight-bold mt-4 mb-3">Paul Michels</h5>
                            <p class="text-uppercase brown-text"><strong>Développeur Unity</strong></p>
                            <p class="grey-text">Homme de l’ombre, sur lui repose un grand pouvoir. Mais, il n’oublie pas que cela implique de grandes responsabilités.</p>
                            <ul class="list-unstyled mb-0">
                                <a href="#" class="p-2 fa-lg fb-ic"><i class="fab fa-twitter blue-text"> </i></a>
                                <a href="#" class="p-2 fa-lg ins-ic"><i class="fab fa-linkedin blue-text"> </i></a>
                            </ul>
                        </div>
                        <div class="col-lg-3 col-md-6 mb-5 mx-auto">
                            <div class="avatar mx-auto">
                                <img src="{{ asset('images/team/thomas.jpg') }}" class="rounded-circle z-depth-1" alt="Sample avatar">
                            </div>
                            <h5 class="font-weight-bold mt-4 mb-3">Thomas Laure</h5>
                            <p class="text-uppercase brown-text"><strong>Développeur web full stack</strong></p>
                            <p class="grey-text">Grincheux, il n’en reste pas moins efficace lorsqu’il s’agit de programmer avec Symfony. Evitez cependant de lui parler.</p>
                            <ul class="list-unstyled mb-0">
                                <a href="#" class="p-2 fa-lg fb-ic"><i class="fab fa-twitter blue-text"> </i></a>
                                <a href="#" class="p-2 fa-lg ins-ic"><i class="fab fa-linkedin blue-text"> </i></a>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-6 mb-5 mx-auto">
                            <div class="avatar mx-auto">
                                <img src="{{ asset('images/team/nicolas.jpg') }}" class="rounded-circle z-depth-1" alt="Sample avatar">
                            </div>
                            <h5 class="font-weight-bold mt-4 mb-3">Nicolas Andres</h5>
                            <p class="text-uppercase brown-text"><strong>Chef de projet / Son</strong></p>
                            <p class="grey-text">Boute-en-train apprécié de son équipe, il n’en reste pas moins un bon chef guidant les autres sur la voie de la réussite.</p>
                            <ul class="list-unstyled mb-0">
                                <a href="#" class="p-2 fa-lg fb-ic"><i class="fab fa-twitter blue-text"> </i></a>
                                <a href="#" class="p-2 fa-lg ins-ic"><i class="fab fa-linkedin blue-text"> </i></a>
                            </ul>
                        </div>
                    </div>
                </article>
            </section>
        </div>
        <div class="view parallax-content-4">
            <h1 class="h3 h1-responsive text-white title-item">Contactez-nous</h1>
        </div>
        <div class="container-fluid mb-5" id="contact">
            <section class="mt-5">
                <article class="w-75 mx-auto">
                    {% for message in app.flashes('success') %}
                        <div class="alert alert-success text-center mx-auto">{{ message }}</div>
                    {% endfor %}
                    {% for message in app.flashes('danger') %}
                        <div class="alert alert-danger text-center mx-auto">{{ message }}</div>
                    {% endfor %}
                    <p class="text-center w-responsive mx-auto mb-3">Vous avez des questions ? N'hésitez pas à nous contacter directement. Notre équipe reviendra vers vous en quelques heures pour vous aider.</p>
                    <p class="text-center w-responsive mx-auto mb-5">Si un message ne s'affiche pas après avoir essayé de nous contacter, c'est qu'un problème est survenu lors de l'envoi du message.</p>
                    <article>
                        {{ form_start(form) }}
                            <div class="col-md-6 m-auto">
                                <div class="md-form mb-0">
                                    {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                                    {{ form_label(form.name, 'Votre nom') }}
                                </div>
                            </div>
                            <div class="col-md-6 m-auto">
                                <div class="md-form mb-0">
                                    {{ form_widget(form.first_name, {'attr': {'class': 'form-control'}}) }}
                                    {{ form_label(form.first_name, 'Votre prénom') }}
                                </div>
                            </div>
                            <div class="col-md-6 m-auto">
                                <div class="md-form mb-0">
                                    {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                                    {{ form_label(form.email, 'Votre email') }}
                                </div>
                            </div>
                            <div class="col-md-6 m-auto">
                                <div class="md-form mb-0">
                                    {{ form_widget(form.subject, {'attr': {'class': 'form-control'}}) }}
                                    {{ form_label(form.subject, 'Objet') }}
                                </div>
                            </div>
                            <div class="col-md-6 m-auto">
                                <div class="md-form">
                                    {{ form_widget(form.message, {'attr': {'class': 'form-control md-textarea'}}) }}
                                    {{ form_label(form.message, 'Votre message') }}
                                </div>
                            </div>
                            <div class="col-md-6 text-center m-auto">
                                <button type="submit" class="btn btn-primary">Envoyer <i class="fas fa-paper-plane"></i></button>
                            </div>
                        {{ form_end(form) }}
                    </article>
            </section>
        </div>
    </main>
    {{ include('footer.html.twig') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/stamina_front.js') }}"></script>
{% endblock %}