{% extends 'base.html.twig' %}

{% block body %}
    <header>
        <nav class="mb-1 navbar navbar-expand-lg navbar-dark sunny-morning-gradient fixed-top scrolling-navbar">
            <a class="navbar-brand font-weight-bold" href="{{ path('home') }}">Stamina</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
                    aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
                <ul class="navbar-nav m-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('home') }}"><i class="fas fa-home"></i> Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('team') }}"><i class="fas fa-people-carry"></i> L'équipe</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('items', {'typeItems': 'bestiary'}) }}"><i class="fas fa-paw"></i> Bestiaire</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('items', {'typeItems': 'zones'}) }}"><i class="fas fa-mountain"></i> Zones</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('contact') }}"><i class="far fa-comment"></i> Contact</a>
                    </li>
                </ul>
                <ul class="navbar-nav nav-flex-icons">
                    <li class="nav-item">
                        <a class="nav-link waves-effect waves-light">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            <i class="fas fa-user"></i>
                        </a>
                        {% if not app.user %}
                            <div class="dropdown-menu dropdown-menu-right dropdown-default" aria-labelledby="navbarDropdownMenuLink-333">
                                <a class="dropdown-item" href="{{ path('login') }}"><i class="fas fa-sign-in-alt"></i> Connexion</a>
                                <a class="dropdown-item" href="{{ path('registration') }}"><i class="fas fa-user-plus"></i> Créer un compte</a>
                            </div>
                        {% else %}
                            <div class="dropdown-menu dropdown-menu-right dropdown-default" aria-labelledby="navbarDropdownMenuLink-333">
                                <a class="dropdown-item" href="{{ path('profile') }}"><i class="fas fa-address-card"></i> Voir mon profil</a>
                                <a class="dropdown-item" href="{{ path('logout') }}"><i class="fas fa-sign-out-alt"></i> Déconnexion</a>
                            </div>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </nav>
    </header>
{% endblock %}