{% extends 'navbar.html.twig' %}

{% block body %}
    {{ parent() }}
    <div class="container">
        <section class="page">
            <article class="col-md-8 mx-auto">
                {{ form_start(form, {'attr': {'class': 'text-center border border-light p-5'}}) }}
                    <p class="h4 mb-4 brown-text">Créez un compte</p>
                    <div>
                        {% if errors is defined %}
                            {% for error in errors %}
                                {% if error.label == 'name' %}
                                    <p class="text-danger"><i class="fas fa-exclamation-triangle"></i> {{ error.message }}</p>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        {{ form_widget(form.name, {'attr': {'class': 'form-control mb-4', 'placeholder': 'Votre pseudo'}}) }}
                    </div>
                    <div>
                        {% if errors is defined %}
                            {% for error in errors %}
                                {% if error.label == 'email' %}
                                    <p class="text-danger"><i class="fas fa-exclamation-triangle"></i> {{ error.message }}</p>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        {{ form_widget(form.email, {'attr': {'class': 'form-control mb-4', 'placeholder': 'Votre e-mail'}}) }}
                    </div>
                    <div>
                        {% if errors is defined %}
                            {% for error in errors %}
                                {% if error.label == 'length' %}
                                    <p class="text-danger"><i class="fas fa-exclamation-triangle"></i> {{ error.message }}</p>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        {{ form_widget(form.password, {'attr': {'class': 'form-control mb-4', 'placeholder': 'Mot de passe'}}) }}
                    </div>
                    <div>
                        {% if errors is defined %}
                            {% for error in errors %}
                                {% if error.label == 'correspondence' %}
                                    <p class="text-danger"><i class="fas fa-exclamation-triangle"></i> {{ error.message }}</p>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        {{ form_widget(form.repeat_password, {'attr': {'class': 'form-control mb-4', 'placeholder': 'Répétez votre mot de passe'}}) }}
                    </div>
                    {{ form_widget(form.submit_button, {'attr': {'class': 'btn btn-brown my-4 btn-block col-md-4 mx-auto'}}) }}
                    <hr>
                    <p>En cliquant sur <em>S'ENREGISTRER</em>, vous acceptez nos <a href="#" target="_blank" class="brown-text">termes d'utilisation</a>
                {{ form_end(form) }}
            </article>
        </section>
    </div>
    {{ include('footer.html.twig') }}
{% endblock %}